<% content_for :botones do %>            
	
	<%= link_to 'Atrás', recipes_path, "data-rel" => "back", class: "ui-btn ui-btn-icon-right ui-icon-back ", "data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
	<%= link_to 'Favoritos', recipes_path + '?favoritos=true', class: "ui-btn ui-btn-icon-right ui-icon-heart", "data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>

<% end %>
<%= form_for @recipe, html: {multipart: true, "data-ajax"=>"false"} do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field ui-field-contain" data-role="fieldcontain">
    <%= f.label :imagen %>
    <%= f.file_field :imagen %>
  </div>
  <div class="field ui-field-contain">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field ui-field-contain">
    <%= f.label :ingrediente_principal %>
    <%= f.text_field :ingrediente_principal %>
  </div>
  <div class="field ui-field-contain">
    <%= f.label :dificultad %>
    <%= f.select :dificultad, [['dificultad',''],['fácil'],['media'],['dificil']] %>
  </div>
  <div class="field ui-field-contain">
    <%= f.label :tiempo %>
    <%= f.text_field :tiempo %>
  </div>
  <div class="field ui-field-contain">
    <%= f.label :descripcion %>
    <%= f.text_area :descripcion %>
  </div>
  <div class="field ui-field-contain">
    <%= f.label :ingredientes %>
    <%= f.text_area :ingredientes %>
  </div>
  
  <div class="field ui-field-contain">
    <%= f.label :plato %>
    <%= f.select :plato, [['plato',''],['entrante'],['principal'],['postre']] %>
  </div>
  <div class="actions">
		 <%= f.submit 'Añadir Receta' %>
  </div>
<% end %>
