<% content_for :botones do %>            
	<%= link_to 'Atrás', recipes_path, "data-rel" => "back", class: "ui-btn ui-btn-left ui-btn-icon-right ui-icon-back atras", "data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
	<%= link_to 'Favoritos', recipes_path + '?favoritos=true', class: "ui-btn ui-btn-icon-right ui-icon-heart",
	"data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
<% end %>
<div class="ui-grid-a">	
	<div class="ui-block-a">
		<div class="ui-grid-a">	
		<div class="ui-block-a">
		
		<%= link_to 'Pescado', '/galeria?ingrediente=Pescado', class: "ui-btn ui-btn-icon-right ui-icon-grid",
		"data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
		<%= link_to 'Carne', '/galeria?ingrediente=Carne', class: "ui-btn ui-btn-icon-right ui-icon-grid",
		"data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
		<%= link_to 'Chocolate', '/galeria?ingrediente=Chocolate', class: "ui-btn ui-btn-icon-right ui-icon-grid", 			"data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
		<%= link_to 'Verduras', '/galeria?ingrediente=Verduras', class: "ui-btn ui-btn-icon-right ui-icon-grid", 			"data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
		<%= link_to 'Pollo', '/galeria?ingrediente=Pollo', class: "ui-btn ui-btn-icon-right ui-icon-grid",
		"data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
		</div>
		<div class="ui-block-b">
		<%= link_to 'Pasta', '/galeria?ingrediente=Pasta', class: "ui-btn ui-btn-icon-right ui-icon-grid",
		"data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
		<%= link_to 'Legumbres', '/galeria?ingrediente=Legumbres', class: "ui-btn ui-btn-icon-right ui-icon-grid",
		"data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
		<%= link_to 'Huevos', '/galeria?ingrediente=Huevos', class: "ui-btn ui-btn-icon-right ui-icon-grid",
		"data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
		<%= link_to 'Arroz', '/galeria?ingrediente=Arroz', class: "ui-btn ui-btn-icon-right ui-icon-grid",
		"data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
		</div>
		</div>
	</div>

	<div class="ui-block-b">
		<% @recipes.each do |recipe| %>
				<%= link_to recipe do  %>
        		<%= image_tag(recipe.imagen_url(:galeri), class: "imgGaleria" ) if recipe.imagen.present? %>
				 <% end %>
		<% end %>
	</div>
</div>
