<% content_for :botones do %>            
	<%= link_to 'Añadir', new_recipe_path, class: "ui-btn ui-btn-icon-right ui-icon-plus ", "data-inline" => "true", "data-role" => "button" %>
	<%= link_to 'Favoritos', recipes_path + '?favoritos=true', class: "ui-btn ui-btn-icon-right ui-icon-heart", "data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>

<% end %>
<ul data-role="listview" data-filter="true" data-filter-placeholder="¿Qué receta buscas?">
    <% @recipes.each do |recipe| %>
	<li class="ui-li-has-thumb">
	<%= link_to recipe do  %>
        <%= image_tag(recipe.imagen_url(:thumb)) if recipe.imagen.present? %>
	<h3><%= recipe.nombre %></h3>
	<ul>
		<li>Difitultad: <%= recipe.dificultad %></li>
		<li>Tiempo de preparación: <%= recipe.tiempo %></li>
		<li>Ingrediente Principal: <%= recipe.ingrediente_principal %></li>
		<li>Tipo de plato: <%= recipe.plato %></li>
	</ul>
	
	<% end %></li>
       
    <% end %>
</ul>


