<% content_for :head do %>
	<%= stylesheet_link_tag "recipes", media: "all" %>
<% end %>
<% content_for :botones do %>            
	
	<%= link_to 'Atrás', recipes_path, "data-rel" => "back", class: "ui-btn ui-btn-left ui-btn-icon-right ui-icon-back atras", "data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>
	<%= link_to 'Home', recipes_path, class: "ui-btn ui-btn-left ui-btn-icon-right ui-icon-home home2", "data-inline" => "true", "data-role" => "button", "data-ajax" => "false"%>
	<%= link_to 'Favoritos', recipes_path + '?favoritos=true', class: "ui-btn ui-btn-right ui-btn-icon-right ui-icon-heart", "data-inline" => "true", "data-role" => "button", "data-ajax" => "false" %>

<% end %>

<div role="main" class="ui-content">
	<div class="ui-grid-a">
		<div class="ui-block-a"><%= image_tag(@recipe.imagen_url, :class => "imgreceta") if @recipe.imagen.present? %></div>
		<div class="ui-block-b"><ul class="claves" style="list-style:none;">
			<li><h4>Ingrediente principal:
			    <%= @recipe.ingrediente_principal %></h4>
			</li>
			<li><h4>Dificultad:
  			    <%= @recipe.dificultad %></h4>
			</li>
			<li><h4>Tiempo:</strong>
  			    <%= @recipe.tiempo %></h4>
			</li>
			<li><h4>Ingredientes:</strong>
  			    <%= @recipe.ingredientes %></h4>
			</li>
			<li><h4>Nombre:</strong>
  			    <%= @recipe.nombre %></h4>
			</li>
			<li><h4>Plato:</strong>
  			    <%= @recipe.plato %></h4>
			</li>
		</ul></div>
		
		<%= link_to "Añadir a favoritos", toggle_favorito_path(@recipe), {remote: true, id: "togglefav", class: "ui-btn ui-icon-#{fav(@recipe)} ui-btn-icon-top ui-btn-b ui-corner-all añadirfav", "data-ajax" => "false"} %>
		
	
		

		</div>
</div>

<p>
 <h3 class="preparacion">Preparación de la Receta</h3>
 <div style="margin-left: 2em; margin-right:2em;">
  <%= @recipe.descripcion %>
 </div>
</p>
