/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.mobile
 */

#home {
	display: inline;
	width: 85%;
}

#galeria {
	display: inline;
	margin-left: 45%;
}

.imgGaleria {
	margin-left: 0.6em;
	margin-right: 0.6em;
	margin-top: 0.5em;
}
@media (max-width: 481px){
	#home {
		display:none;
	}
}
