// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.imgreceta {
	-webkit-margin-left: 1em;
	margin-left: 1em;
	-webkit-width: 90%;
	width: 90%;
}
.preparacion {
	-webkit-margin-left:37%;
	margin-left:37%;
}

.home2 {
	visibility: hidden;
}

@media (max-width: 481px){
	.ui-block-a, ui-block-b {
		-webkit-width: 100%;
		float:none;
		-moz-width: 100%;
		float:none;
	}
	.imgreceta {
		-webkit-width: 160%;
		width: 160%;
		-webkit-margin-left:22%;
		margin-left:22%;
		-webkit-float:none;
		float:none;
	}
	.claves {
		-webkit-width: 150%;
		width: 150%;
		-webkit-float:none;
		float:none;
	}
	.añadirfav{
		-webkit-width: 67%;
		width: 67%;
		-webkit-margin-left:9%;
		margin-left:9%;
		-webkit-float:none;
		float:none;
	}
	.preparacion {
		-webkit-margin-left:17%;
		margin-left:17%;
		-webkit-float:none;
		float:none;
	}

	.home2 {
		visibility: visible;
	}

	.atras {
		visibility: hidden;
	}

}
