<!DOCTYPE html>
<html manifest="/appoffline.appcache">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>El Recetario</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "mi-tema", media: "all" %>
  <%= stylesheet_link_tag    "jquery.mobile.icons.min", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-theme="a" data-position="fixed">
			
			<h1>El Recetario <div id="home"><%= link_to 'Home', recipes_path, class: "ui-btn ui-btn-icon-right ui-icon-home home", "data-inline" => "true", "data-role" => "button", "data-ajax" => "false"%></div></h1>
			<%= yield :botones %>
		</div>
	
		<div role="main">
			<%= yield %>
		</div>

		<div data-role="footer" data-theme="a" data-position="fixed">
			<div id="galeria"><%= link_to 'Galeria', :galeria, class: "ui-btn ui-btn-icon-right ui-icon-grid", "data-inline" => "true", "data-role" => "button", "data-ajax" => "false"%></div>
		</div>
	</div>
</body>
</html>
